# Copia este archivo como .env y rellena los valores

SECRET_KEY=cambia-esto-por-una-clave-segura
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Opción A — Railway provee esta variable automáticamente
DATABASE_URL=postgresql://user:pass@host:5432/dbname

# Opción B — Variables individuales (para desarrollo local)
DB_NAME=motos_db
DB_USER=motos_user
DB_PASSWORD=motos_pass
DB_HOST=localhost
DB_PORT=5432
